/* Container Styles */
.container {
    position: relative;
    width: 22rem; /* Use rem units for width */
    padding: 1.25rem; /* Padding in rem */
    border-radius: 1rem; /* Rounded corners */
    text-align: center;
    background: linear-gradient(135deg, #1A1919, #000000); /* Adjusted gradient for consistency */
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.2); /* Shadow effect in rem */
}

/* Header Styles */
.header {
    margin-bottom: 1.25rem; /* Margin in rem */
}

.header .icon {
    font-size: 2rem; /* Adjusted icon size */
    color: #bf5108; /* Consistent icon color from topbar hover */
}

/* Form Styles */
.form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem; /* Margin in rem */
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: white; /* Consistent text color */
}

.form-group input {
    width: 80%;
    padding: 0.75rem; /* Padding in rem */
    border: 1px solid #ccc;
    border-radius: 0.5rem; /* Adjusted border-radius */
    transition: border-color 0.3s; /* Transition for input focus */
}

.form-group input:focus {
    border-color: #bf5108; /* Consistent border color on focus */
    outline: none; /* Remove outline */
}

/* Button Styles */
.btn {
    padding: 0.75rem; /* Button padding in rem */
    background-color: #bf5108; /* Consistent button background color */
    color: white;
    border: none;
    border-radius: 0.5rem; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s; /* Transition for button hover */
}

.btn:hover {
    background-color: #bf5108; /* Darken color on hover */
}

/* Footer Styles */
.footer-login {
    margin-top: 1rem; /* Margin in rem */
}

.toggle-link {
    color: #bf5108; /* Consistent link color */
    cursor: pointer;
    font-weight: bold;
}

.toggle-link:hover {
    text-decoration: underline;
}

/* Close button styling */
.close-icon {
    position: absolute;
    top: 1rem; /* Adjust to position closer to the top */
    right: 1rem; /* Adjust to position closer to the right */
    cursor: pointer;
    font-size: 1.5rem; /* Font size in rem */
    color: #bf5108; /* Consistent close icon color */
}

.close-icon:hover {
    color: #bf5108; /* Change color on hover */
}
