.signup-container {
    max-width: 600px; /* Maximum width of the signup form */
    margin: 0 auto; /* Center horizontally */
    padding: 20px; /* Padding around the form */
    border: 1px solid #ccc; /* Border around the form */
    /* Rounded corners */
    /* position: relative; */
    width: 32rem; /* Use rem units for width */
    padding: 1.25rem; /* Padding in rem */
    border-radius: 1rem; /* Rounded corners */
    text-align: center;
    color: white; /* Text color */
    
  }
  
  .checkbox-group {
    margin: 15px 0; /* Space around checkboxes */
}

.checkbox-group label {
    margin-right: 15px; /* Space between checkboxes */
}
  
  .error-message {
    color: red; /* Error message color */
    margin-bottom: 10px; /* Space below the error message */
    text-align: center; /* Center the error message */
  }

