/* Ensure the body and HTML elements start at the very top */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

/* Modify topbar with a lighter background */
.topbar {
    top: 0;
    left: 0;
    right: 0;
    width: 100%; /* Ensure topbar fills the entire width */
    height: 50px; /* Adjust height as desired */
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Space between logo and menu */
    align-items: center; /* Vertically center content */
    background: #1A1919; /* Lighter shade of black (dark gray) */
    position: sticky;
    z-index: 100; /* Ensure topbar stays above other elements */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
}

/* Adjust logo size and alignment */
.logo-image {
    width: 210px; /* Adjust the size of the logo */
    height: auto; /* Keep aspect ratio */
    margin: 0; /* Remove any extra margin */
    padding: 0; /* Ensure no padding */
}

/* Topbar menu styling */
.topbar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; /* Vertically center the menu items */
}

.topbar-menu li {
    margin-left: 20px;
    cursor: pointer;
}

.topbar-menu li:hover {
    color: #bf5108; /* Change color on hover */
}

    .icon {
        margin-right: 0.3em; /* Adjusted margin-right to a relative unit (em) */
        font-size: 1.2rem; /* Keep the rem unit for scalability */
    }/* Increase icon size for emphasis */

.login-modal {
    position: fixed; /* Cover the entire screen */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Dimmed background to focus on modal */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Above other elements */
}

